<header>logo</header>
<div>
  <h2>Hola</h2>
  <p>
    {{ title }}
  </p>
  <p>
    {{ log }}
  </p>
  <app-weather
    city="Sevilla"
    temperature="36"
    state="Muy soleado"
    (temperatureChange)="onChange($event)"
  ></app-weather>
  <app-weather
    city="Albacete"
    temperature="35"
    state="Soleado"
    (temperatureChange)="onChange($event)"
  ></app-weather>
  <app-weather
    city="Londres"
    temperature="18"
    state="Lluvioso"
    (temperatureChange)="onChange($event)"
  ></app-weather>
</div>

<footer>
  <hr />
  &copy; 2021 AGAPA.
</footer>
